* {
    margin: 0;
    padding: 0;
}

/**************************************************************
*   General
**************************************************************/

body {
    color: rgb(0, 0, 0);
    font: 18px Calibri;
} 

/**************************************************************
*   Top section
**************************************************************/
.title_head {
    font-size: 90px;
    font-weight: 700;
    padding: 5px;
    width: 1700px;
}

#clock {
    color: rgb(255, 255, 255);
    float: right;
    font-family: 'Orbitron', sans-serif;
    font-size: 75px;
    background-color: #a81813;
    padding: 15px;
}

nav {
    background-color: #333;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #a81813;
    color: white;
}

.shifts {
    padding: 15px;
    font-size: 32px;
}

/**************************************************************
*   Body
**************************************************************/
.meals {
    padding: 15px;
}

.meal {
    background-color: #a81813;
    padding: 10px;
    font-size: 32px;
    color: white;
}

.ingredients {
    padding: 10px;
}

/**************************************************************
*   Bottom
**************************************************************/
footer {
    padding-left: 15px;
    font-size: 25px;
}